.vetricalVerySmallPlate {
    width: 180px;
    height: 242px;

    cursor: pointer;

    background: #F7F7FC;
}

.verticalVerySmallPlateWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
